@font-face {
    font-family: 'Abel';
    src: local('Abel'), url(./assets/fonts/Abel-Pro.otf) format('opentype');
}

@font-face {
    font-family: 'Abel';
    font-weight: bold;
    src: local('Abel'), url(./assets/fonts/Abel-Pro-Bold.otf) format('opentype');
}

p {
    font-family: Abel, serif;
}

h1 {
    font-family: Abel, serif;
}

h3 {
    font-family: Abel, serif;
}

h4 {
    font-family: Abel, serif;
}

sub {
    font-family: Abel, serif;
}

button {
    font-family: Abel, serif;
}
